<!DOCTYPE html>
<html>
<head>
  <title>My new world of happy time</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
HERE IT IS
<div id="theplace">I AM THE PLACE OF CONTROL I AM ALL<br />
<%= yield %>
</div>

</body>
</html>
